ul, li {
  padding: 0;
  margin: 0; }

body {
  background: white; }

.slider_window {
  background: url("../images/slider_background.png") no-repeat;
  background-size: 100%;
  width: 100%;
  position: relative;
  overflow: hidden; }
  .slider_window .main_slider {
    position: absolute;
    display: -webkit-inline-box;
    z-index: -1;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out; }
    .slider_window .main_slider li {
      height: 100%;
      list-style-type: none; }
      .slider_window .main_slider li .slider_picture {
        width: 100%; }
  .slider_window i {
    cursor: pointer;
    position: absolute;
    bottom: 71px;
    left: 22px;
    font-size: 4.5em;
    background: orange; }
  .slider_window i:last-of-type {
    left: auto;
    right: 22px; }

/*# sourceMappingURL=main.css.map */
