<template>
    <pictures-slider v-bind:courts="courts"></pictures-slider>
</template>

<script>
    import PictureSlider from './PicturesSlider.vue';

    export default {
        components: {
            'pictures-slider': PictureSlider,
        },
        props : [
            'courts'
        ],
        data() {
            return {

            }
        },
        methods: {

        }
    }
</script>

<style>

</style>