<template>
    <nav>
        <label for="search_bar">Where do you want to play?</label>
        <input type="text" name="search" id="search_bar">
    </nav>
</template>

<script>
    export default {
        methods: {
        }
    }
</script>