<template>
    <div class="slider_window">
        <ul class="main_slider">
            <li v-for="court in courts"><img :alt="court.pictures[0].alt" :src="'./assets/images/' + court.pictures[0].src" class="slider_picture"></li>
        </ul>
        <i v-on:click="moveSlideToLeft" class="material-icons slider_controllers">arrow_back</i>
        <i v-on:click="moveSlideToRight" class="material-icons slider_controllers">arrow_forward</i>
    </div>
</template>

<script>
    export default {
        props: {
            courts: Array,
        },
        data() {
            return {
                currentSlide: 0,
                totalSlides: 0,
            }
        },
        methods: {
            moveSlideToLeft: function() {
                console.log(this.totalSlides);
            },
            moveSlideToRight: function() {
                console.log('To Right');
            },
            setTotalSlides: function() {
                this.totalSlides = this.courts.length;
            },
        },
        updated() {
            this.setTotalSlides();
        }
    }
</script>

<style lang="scss" scoped>
    .slider_window {
        width: 100%;
        font-size: 12px;
    }
</style>