<template>
    <div class="container">
        <main-navbar></main-navbar>
        <court-list v-bind:courts="courts"></court-list>
    </div>
</template>

<script>

    import Navbar from './components/Navbar.vue';
    import CourtList from './components/CourtList.vue';

    export default {
        components: {
            'main-navbar': Navbar,
            'court-list': CourtList
        },
        data() {
            return {
                courts: [],
            }
        },
        created() {
            this.getCourts();
        },
        methods: {
            getCourts() {
                fetch('/api/courts', {
                    method: 'GET',
                    headers: {
                        'Accept': 'application/json',
                        'Content-type': 'application/json'
                    }
                })
                .then(response => response.json())
                .then(data => {
                    this.courts = data;
                });
            }
        }
    }
</script>

<style>

</style>