// Mixins
@import 'mixins';


// Reset
ul, li {
  padding: 0;
  margin: 0;
}

// General


// Body
body {
  background: white;
}

// Slider
.slider_window {
  background: url('../images/slider_background.png') no-repeat;
  background-size: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;

  .main_slider {
    position: absolute;
    display: -webkit-inline-box;
    z-index: -1;
    @include prefixed(transition, all 0.4s ease-in-out);
    li {
      height: 100%;
      list-style-type: none;

      .slider_picture {
        width: 100%;
      }
    }
  }

   i {
    cursor: pointer;
    position: absolute;
    bottom: 71px;
    left: 22px;
    font-size: 4.5em;
    background: orange;
  }

  i:last-of-type {
    left: auto;
    right: 22px;
  }
}